.bannerImg {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.gradient-bg{
  background: linear-gradient(140deg, #009933 0%, #00ff99 100%);
}

.main-header{
  font-size: 1.25rem;
  color: #fff;
  padding-top: 3rem;
}
